@import '../base/_typography.scss';

.footer{
    background:  map-get($color, first);
    height: 400px;
    padding: 50px 8%;
    color: map-get($color, third);
    .line{
        content: "";
        background: map-get($color, third);
        height: 1px;
        width: 600px;
    }
    .kontakt{
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      b{
        font-size: 15px;
      }
    }
    b{
      color: map-get($color, sixth);
      font-family: poppins;
      font-weight: 400;
    }
    .footer-info{
      display: flex;
      margin-top: 50px;
      justify-content: space-between;
      .adresse{
        display: flex;
        flex-direction: column;
        b{
          padding-bottom: 10px;
        }
      }
      .social-medier{
        display: flex;
        .footer-icon{
          display: flex;
          align-items: flex-end;
          height: 16px;
          margin-left: 20px;
          .icon{
            width: auto;
            height: 29px;
          }
          img{ padding: 0 8px;
          }
        }
      }
    }
    .icon:hover{
      opacity: 0.5;
    }
    .icon:visited{
    opacity: 0.5;
    }
    .icon:active{
    opacity: 0.5;
    }
  }


  @media only screen and (max-width: 1120px){
    .footer{
      height: 450px !important;
      h1{
        font-size: 30px;
        margin-bottom: 15px !important;
      }
    }
    .line{
        width: 90% !important;
    }
    .footer-info{
      flex-direction: column;
      height: 120px;
    }
  }

  @media only screen and (max-width: 660px){
    .footer{
      height: 550px !important;
     
       h1{
        font-size: 25px;
        margin-bottom: 15px !important;
      }
      h2{
        font-size: 20px;
      }
      b{
        font-size: 14px !important;
      }
    }
    .social-medier{
      flex-direction: column;
      justify-content: space-between;
      height: 60px;
      margin-top: 50px;
      .footer-icon{
        margin-left: 0 !important;
      }
      #first-icon{
        padding-left: 0;
      }
    }
    .footer-info{
      height: 200px !important;
      }
  }

  @media only screen and (max-width: 378px){
    .footer{
      padding: 50px 10% !important;
      width: 100vw;
    }
  }