@import '../base/_typography.scss';


.titel-afdelinger{
    margin: 230px 0 0 8%;
    h1{
      font-size: 65px !important;
      margin-bottom: 50px;  
    }
    h2{
        font-size: 30px ;
        width: 37vw;
        font-weight: 700;
        letter-spacing: .4px;
    }
}
.home-banner-image{
    margin-top: 265px;
    margin-bottom: 15px;
}
.afdeling-bg-color{
    background:  map-get($color, seventh);
}
.afdeling-flex-direction{
    flex-direction: row-reverse !important;
}
.afdeling-margin-image{
    margin-bottom: 180px;
}
.afdelingerne{
    display: flex;
    justify-content: space-between;
    
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 8%;
    padding-right: 8%;
    .afdelinger-text{
        width: 50vw;
        strong{
            font-weight: 500;
        }
    }
    .afdelinger-img{
        width: 200px;
        height: auto;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and (max-width: 950px){
    .afdelingerne{
        flex-direction: column !important;
        .afdeling-img-div{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        .afdelinger-text{
            width: 80vw;
        }
    }
    .titel-afdelinger{
        margin: 100px 0 0 8%;
        h2{
            width: 84vw;
            font-weight: 700;
        }
    }
    .home-banner-image{
        margin-top: 70px !important;
    }
}

@media only screen and (max-width: 600px){
    .afdelingerne{
        .afdeling-img-div{
            justify-content: flex-start;
        }
        .afdelinger-img{
            margin-bottom: 0 !important;
        }
        .afdelinger-text{
            width: 84vw;
            margin-bottom: 50px;
        }
    }
    .titel-afdelinger{
        margin: 100px 0 0 8%;
        h1{
            font-size: 40px !important;
        }
        h2{
            font-size: 25px !important;
        }
    }
    .home-banner-image{
        margin-top: 70px !important;
    }
}